
label
{
/* display: inline-flex;
flex-direction: row;
justify-content:center;
align-content: center;
align-items: center;
width: 200PX; */
display:inline-block;
width: 200px;
text-align: center;

}

.FOR
{

    text-align: left;
}
.im
{
    font-size: 2rem;
    color: brown;
}